<div class="wrapper">
  <div class="container">
    <div align="center">
      <h1>Liste des Ustensiles</h1>
        <%= link_to 'Ajouter un ustensile', new_tool_path %>
        <ul>
          <% @tools.each do |tool| %>
            <li style="list-style: none">
              <%= link_to tool.name, tool_path(tool) %>
                <% if policy(tool).update? %>
                <%= link_to 'delete', tool_path(tool), method: :delete %>
                <%= link_to 'edit', edit_tool_path(tool)%>
                <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'tools' %>
<% end %>
