<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">

<div id="recipes-edit" v-cloak>
  <div class="recipe-info">
    <div v-if="!editBasics" class="item-center-flex-start" style="height: 50px;">
      <a v-on:click="editBasics = true">
        <Icon type="md-create" size="20" style="margin-right: 10px;" />
      </a>
      <a :href="recipe.url"><h2 style="font-weight: bolder; text-align: center;">{{ recipe.name }}</h2></a>
      <div style='display: flex; margin-left: 20px;'>
        <p style="margin-right: 5px;">Visible</p>
        <i-Switch v-model="recipe.visible" size="large" @on-change="editRecipe()">
          <span slot="open">Oui</span>
          <span slot="close">Non</span>
        </i-Switch>
      </div>
      <div style='display: flex; margin-left: 20px;'>
        <p style="margin-right: 5px;">Reco.</p>
        <i-Switch v-model="recipe.recommended" size="large" @on-change="editRecipe()">
          <span slot="open">Oui</span>
          <span slot="close">Non</span>
        </i-Switch>
      </div>
      <a class="btn-sm btn-danger" style='margin-left: 20px;' v-on:click="destroyRecipe">Supprimer</a>
      <a class="btn-sm btn-success" style='margin-left: 20px;' v-on:click="addRecipe">Nouvelle</a>
      <select class="form-control" v-model="selectedRecipeSlug" style="margin-left: 20px; width: 250px;">
        <option v-for="recipe in recipes" v-bind:value="recipe.slug">
          {{ recipe.name }}
        </option>
      </select>
    </div>
    <div v-else style="height: 50px;" class="item-center-flex-start">
      <a v-on:click="editRecipe">
        <Icon type="md-checkmark" size="20" style="margin-right: 10px;" />
      </a>
      <input class="form-control" style="font-size: 38px; font-family: 'Helvetica', 'sans-serif'; font-weight: 700;" type="text" v-model="recipe.name"><h2 class="text-center"></h2>
    </div>
    <div id="recipe-basics" style="display: flex; justify-content: space-between; align-items: center; width: 620px; height: 50px;">
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Couverts: </h5>
        <h5 v-if="!editBasics">{{ recipe.servings }}</h5>
        <input v-else class="form-control" type="text" style="width: 45px;" v-model="recipe.servings">
      </div>
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Préparation: </h5>
        <h5 v-if="!editBasics">{{ recipe.preparation_time }}</h5>
        <input v-else class="form-control" type="text" style="width: 45px;" v-model="recipe.preparation_time">
      </div>
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Cuisson: </h5>
        <h5 v-if="!editBasics">{{ recipe.cooking_time }}</h5>
        <input v-else class="form-control" type="text" style="width: 45px;" v-model="recipe.cooking_time">
      </div>
      <div class="item-center-flex-start">
        <h5 style="margin-right: 10px;">Difficulté: </h5>
        <h5 v-if="!editBasics">{{ recipe.difficulty }}</h5>
        <select v-else class="form-control" v-model="recipe.difficulty">
          <option>Facile</option>
          <option>Moyen</option>
          <option>Difficile</option>
        </select>
      </div>
    </div>
    <div class="edit-recipe-description">
      <h5 style="margin-right: 10px;">Description: </h5>
      <p v-if="!editBasics">{{ recipe.description }}</p>
      <textarea v-else class="form-control" type="text" placeholder="Description de l'étape" v-model="recipe.description" style="margin: 0px 5px; width: 570px;">{{ recipe.description }}</textarea>
    </div>
  </div>

  <div class="details">
    <div class="select-details">
      <!-- MEASURES -->
      <div class="recipe-measures">
        <div>
          <h4 style="margin-top: 10px; margin-bottom: 10px;">Liste des mesures</h4>
          <draggable v-model="measures" :move="checkMove">
            <div v-for="(measure, index) in measures" :options="{draggable:'.item'}" class="draggable-measure" v-on:mouseenter="displayButtons('measure', index, 'block')" v-on:mouseleave="displayButtons('measure', index, 'none')">
              <div class="item-center-space-between border" style="width: 620px;">
                <span style="display: flex;">
                  <p style="width: 60px; text-align: right;"><strong style="color: #338BF0;">{{ index + 1}}</strong><Icon type="md-reorder" color="#338BF0" style="margin: 0px 10px;"/></p>
                </span>
                <span style="display: flex; flex-grow: 1;">
                  <p style="width: 60px; margin-right: 1rem; text-align: right;">{{ measure.quantity }}</p>
                  <p>{{ measure.text1 }}{{ measure.ingredient.name }}{{ measure.text2 }}</p>
                </span>
              </div>
              <div :id="'measure_' + index" style="display: none;">
                <a v-on:click="setEditMeasure(measure)"><Icon type="md-create" size="18" /></a>
                <a v-on:click="destroyMeasure(measure, index)" style="margin: 0px 5px;"><Icon type="md-close" size="18" color="#cf1b1b"/></a>
              </div>
            </div>
          </draggable>
          <button v-if="hasMoved" v-on:click="saveOrder" class="btn btn-sm btn-success" style="height: 32px;">Sauver Ordre</button>
        </div>
        <div>
          <h4 style="margin-top: 20px; margin-bottom: 10px;">Ajout des mesures</h4>
          <div class="item-center-flex-start new-measure">
            <input v-model.number="newMeasure.quantity" type="integer" class="new-input form-control" placeholder="Quantité" style="width: 150px; height: 32px; margin-right: 5px;">
            <input v-model="newMeasure.text1" type="text" class="new-input form-control" placeholder="Texte 1" style="width: 150px; height: 32px; margin-right: 5px;">
            <i-select v-model="newMeasure.ingredient.id" filterable style="width: 150px; margin-right: 5px;" placeholder="Ingrédient" >
              <i-option v-for="ingredient in ingredients" :value="ingredient.id" :key="ingredient.name">{{ ingredient.name }}</i-option>
            </i-select>
            <input v-model="newMeasure.text2" type="text" class="new-input form-control" placeholder="Texte 2" style="width: 150px; height: 32px; margin-right: 5px;">
            <a v-if="checkNewMeasure && !checkEditMeasure" v-on:click="createMeasure(newMeasure)">
              <Icon type="md-checkmark" size="20"/>
            </a>
            <a v-if="checkEditMeasure" v-on:click="editMeasure(newMeasure)">
              <Icon type="md-checkmark" size="20"/>
            </a>
          </div>
        </div>
      </div>

      <!-- PHOTOS -->
      <div class="recipe-tags">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Photos</h4>
        <% unless @recipe.image.attachment.nil? %>
          <%= image_tag @recipe.image, :style => "width: 400px; height: 250px;" %>
        <% end %>
        <%= simple_form_for @recipe do |f| %>
          <%= f.file_field :image %>
          <%= hidden_field_tag 'slug', @recipe.slug %>
          <%= f.button :submit, class: "btn btn-info"%>
        <% end %>
      </div>

      <!-- TAGS -->
      <div class="recipe-tags">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Tags</h4>
        <template>
          <i-select v-model="selectedTags" multiple filterable style="width: 617px; ">
            <i-option v-for="tag in tags" :value="tag.id" :key="tag.name" style="font-size: 14px !important">{{ tag.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTags.length != tagsCount" v-on:click="addTags(selectedTags)"><Icon type="md-checkmark" size="20"/></a>
      </div>

      <!-- TOOLS -->
      <div class="recipe-tools">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Ustensiles</h4>
        <template>
          <i-select v-model="selectedTools" multiple filterable style="width: 617px; ">
            <i-option v-for="tool in tools" :value="tool.id" :key="tool.name">{{ tool.name }}</i-option>
          </i-select>
        </template>
        <a v-if="selectedTools.length != toolsCount" v-on:click="addTools(selectedTools)"><Icon type="md-checkmark" size="20"/></a>
      </div>

      <!-- STEPS -->
      <div class="recipe-steps">
        <h4 style="margin-top: 10px; margin-bottom: 10px;">Etapes</h4>
        <div v-for="(step, index) in steps" class="item-center-flex-start" style="margin-bottom: 5px;" v-on:mouseenter="displayButtons('step', index, 'block')" v-on:mouseleave="displayButtons('step', index, 'none')">
          <input class="form-control text-center" type="integer" v-model="step.order" placeholder="#" style="width: 50px;">
          <textarea class="form-control" type="text" v-model="step.text" placeholder="Description de l'étape" style="margin: 0px 5px; width: 570px; height: 100px"></textarea>
          <a v-if="step.text.length != stepsLength[index]" v-on:click="updateStep(step, index)"><Icon type="md-checkmark" size="20"/></a>
          <div :id="'step_' + index" style="display: none;">
            <a v-on:click="destroyStep(step, index)" style="margin: 0px 5px;"><Icon type="md-close" size="18" color="#cf1b1b"/></a>
          </div>
        </div>
        <button v-on:click="addStep" class="btn btn-sm btn-success" style="margin-bottom: 20px; text-align: center;">Nouvelle étape</button>
      </div>
    </div>

    <div class="create-details" style="font-size: 14px; font-family: 'Open Sans'; font-weight: bolder;">
      <h4 style="margin-top: 10px; margin-bottom: 10px;">Créer les élements manquants</h4>
      <collapse style="width:330px">
        <panel name="1">
          Ajouter un ingrédient
          <div class="item-center-flex-start" slot="content">
            <div>
              <input v-model="newIngredient.name" type="text" class="form-control" id="ingredientName" placeholder="Nom" style="width:275px">
              <input v-model="newIngredient.description" type="text" class="form-control" id="ingredientDescription" placeholder="Description" style="width:275px; margin-top: 5px;">
            </div>
            <a v-if="newIngredient.name != ''" v-on:click="createIngredient(newIngredient)" class="save-icon"><Icon type="md-checkmark" size="20"/></a>
          </div>
        </panel>
        <panel name="2">
          Ajouter un tag
          <div class="item-center-flex-start" slot="content">
            <input v-model="newTag.name" type="text" class="form-control" id="tagName" placeholder="Nom" style="width:275px">
            <a v-if="newTag.name != ''" v-on:click="createTag(newTag)" class="save-icon"><Icon type="md-checkmark" size="20"/></a>
          </div>
        </panel>
        <panel name="3">
          Ajouter un ustensil
          <div class="item-center-flex-start" slot="content">
            <input v-model="newTool.name" type="text" class="form-control" id="toolName" placeholder="Nom" style="width:275px">
            <a v-if="newTool.name != ''" v-on:click="createTool(newTool)" class="save-icon"><Icon type="md-checkmark" size="20"/></a>
          </div>
        </panel>
      </collapse>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'recipes' %>
<% end %>
