<div id="recipe-show" class="container" >

  <h1 class="header"><%= @recipe.name %></h1>

  <div class="line"></div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 servingsandtime">
      <span class="icon__container"><%= svg 'chopsticks' %><p><%= @recipe.servings %> pers.</p></span>
      <span class="icon__container"><%= svg 'whisk' %><p><%= @recipe.preparation_time %> min</p></span>
      <span class="icon__container"><%= svg 'cooking' %><p><%= @recipe.cooking_time %> min</p></span>
      <span class="icon__container"><%= svg 'chef-hat' %><p><%= @recipe.difficulty %></p></span>
    </div>
  </div>
  <div class="row" >
   <div class="col-sm-8 col-xs-12 recipe-image">
      <% if @recipe.photos? %>
      <%= cl_image_tag @recipe.photos[0].path %>
      <% end %>
    </div>

  <div class="col-sm-4 col-xs-12 recipe-topnotes">
    <div class="recipe-description">
      <p><%= @recipe.description %></p>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-xs-12 recipe-info">
      <div class="recipe-mesures">
        <h3>Ingrédients</h3>
        <ul>
          <% @measures.each do |measure| %>
            <li>
              <p><strong><%= measure.ingredient.name %><%= measure.text_2 %></strong></p>
              <p><%= measure.quantity %><%= measure.text_1 %></p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-sm-8 col-xs-12 recipe-etapes">
      <h3>Etapes</h3>
      <ul>
        <% @steps.each do |step| %>
          <li>
            <h5><%=step.order %></h5>
            <p><%= step.text %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
