<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="recipe-photo">
        <% if @recipe.photos? %>
          <%= cl_image_tag @recipe.photos[0].path, crop: :fit %>
        <% end %>
      </div>
      <div class="recipe-title">
        <h2><strong><%= @recipe.title %></strong></h2>
      </div>
      <div class="recipe-servings">
        <p><%= @recipe.servings %> pers.</p>
      </div>

        <ul id="measure-list">
          <% @measures.each do |measure| %>
            <li><p><%= measure.quantity %><%= measure.text_1 %><%= measure.ingredient.name %><%= measure.text_2 %></p>
            </li>
          <% end %>
        </ul>

      <!-- INSTRUCTIONS -->
      <div class="recipe-instructions">
        <p><strong>Instructions</strong></p>
        <%= @recipe.instructions%>
      </div>
    </div>
  </div>
</div>


