<div class="container">
  <div class="row">
    <div class="col-xs-12 ">

      <!-- PHOTO -->
      <div class="recipe-photo">
        <% if @recipe.photos? %>
          <%= cl_image_tag @recipe.photos[0].path %>
        <% end %>
      </div>

      <!-- TITLE -->
      <div class="recipe-title" style="display: flex; align-items: center;">
        <h2><strong><%= @recipe.title %></strong></h2>
        <% if current_user.admin? %>
          <%= link_to add_details_path(@recipe) do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>

      <!-- SERVINGS -->
      <div class="recipe-servings">
        <p><%= @recipe.servings %> pers.</p>
      </div>

      <!-- PREPARATION TIME -->
      <div class="recipe-preparation_time">
        <p><%= @recipe.preparation_time %> min</p>
      </div>

      <!-- COOKING TIME -->
      <div class="recipe-cooking_time">
        <p><%= @recipe.cooking_time %> min</p>
      </div>

      <!-- MEASURES -->
      <div class="measures-list">
        <h3>Mesures</h3>
        <ul>
          <% @measures.each do |measure| %>
            <li>
              <p><%= measure.quantity %><%= measure.text_1 %><%= measure.ingredient.name %><%= measure.text_2 %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- TOOLS -->
      <div class="tools-list">
        <h3>Ustensiles</h3>
        <ul>
          <% @tools.each do |tool| %>
            <li>
              <p><%= tool.name %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- TAGS -->
      <div class="tags-list">
        <h3>Tags</h3>
        <ul>
          <% @tags.each do |tag| %>
            <li>
              <p><%= tag.name %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- INSTRUCTIONS -->
      <div class="recipe-steps">
        <h3>Etapes</h3>
        <ul>
          <% @recipe.steps.each do |step| %>
            <li>
              <p><%= step.text %></p>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
