<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@recipe.name}" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, rails_blob_url(@recipe.image) %>

<div id="recipe-show" class="container" >
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1 class="recipe__name"><%= @recipe.name %></h1>
      <div class="line"></div>

      <div class="row" >
        <div class="col-xs-12 col-sm-4">

          <div class="recipe__info">
            <div class="recipe__icon-container">
              <span class="recipe__icon"><%= svg 'chopsticks' %><p><%= @recipe.servings %> pers.</p></span>
              <span class="recipe__icon"><%= svg 'chef-hat' %><p><%= @recipe.difficulty %></p></span>
              <span class="recipe__icon"><%= svg 'whisk' %><p><%= @recipe.preparation_time %> min</p></span>
              <span class="recipe__icon">
                <%= svg 'cooking' %>
                <% if @recipe.cooking_time > 0 %>
                  <p><%= @recipe.cooking_time %> min</p>
                <% else %>
                  <p>-</p>
                <% end %>
              </span>
            </div>
          </div>

          <div class="recipe__description">
            <p><%= @recipe.description %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8 recipe__image">
          <% if @recipe.image.attached? %>
            <%= image_tag @recipe.image %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-xs-12 recipe__measures">
          <h2 class="header--middle">Ingrédients</h2>
          <div class="line line__small"></div>

          <ul>
            <% @measures.each do |measure| %>
              <li>
                <p class="measure__quantity"><%= measure.quantity %></p>
                <p>
                  <%= measure.text_1 %>
                  <%= measure.ingredient.name %>
                  <%= measure.text_2 %>
                </p>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="col-sm-8 col-xs-12 recipe__steps">
          <h2 class="header--middle">Préparation</h2>
          <div class="line line__small"></div>

          <ul>
            <% @steps.each_with_index do |step, index| %>
              <% if index.even? %>
                <li class="step step--left">
                  <h3><%= step.order %></h3>
                  <p><%= raw step.text %></p>
                </li>
              <% else %>
                <li class="step step--right">
                  <p><%= step.text %></p>
                  <h3><%= raw step.order %></h3>
                </li>
              <% end %>
              <div class="short-line"></div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
