<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="recipe-photo">
        <%= cl_image_tag @recipe.photos[0].path, crop: :fit %>
      </div>
      <div class="recipe-title">
        <h2><strong><%= @recipe.title %></strong></h2>
      </div>
      <div class="recipe-servings">
        <p><%= @recipe.servings %> pers.</p>
      </div>

      <div class="recipe-ingredients">
        <p><strong>Ingrédients</strong></p>
        <% if current_user && current_user.admin %>
          <div class="form-inline" id="measure-form-container">
            <%= render 'measure_form', recipe: @recipe, measure: @measure %>
          </div>
        <% end %>
        <ul id="measure-list">
          <% @measures.each do |measure| %>
            <li><p><%= measure.quantity %><%= measure.text_1 %><%= measure.ingredient.name %><%= measure.text_2 %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- INSTRUCTIONS -->
      <div class="recipe-instructions">
        <p><strong>Instructions</strong></p>
        <%= @recipe.instructions%>
      </div>
    </div>
  </div>
</div>


