<div
  class="landing"
  id="home"
  v-bind:style="{ height: calcHeight }"
>
  <div class="section-search" v-cloak>
    <div class="search">
      <a><%= svg 'search' %></a>
      <input
        v-on:input="query = $event.target.value"
        type="search"
        name="search"
        v-model="query"
        class="search__input"
        placeholder="Recherche"
      >
      <a v-if='query && query.length > 0 ' v-on:click='clearQuery'><%= svg 'delete' %></a>
    </div>
    <div class="recipe__box">
      <div
        v-if="recipesCount === 0 && !isLoading"
        class="recipe__box--no-result"
      >
        <p>Aucune recette trouvée</p>
      </div>
      <transition-group
        v-else
        name="recipe-cards"
        tag="div"
        class="recipe__box--scroll-wrapper"
        v-bind:style="{ marginLeft: leftMargin }"
        v-on:before-enter="getLeftMargin"
        v-on:after-leave="getLeftMargin"
      >
        <div
          v-for="recipe in recipes"
          v-bind:key="recipe.id"
          class="recipe__box__card"
          v-on:click="goToRecipe(recipe.slug)"
        >
          <div class="flex-div">
            <h2>{{ recipe.name }}</h2>
            <div
              class="recipe-image"
              :style='{ backgroundImage: `url("${recipe.photo_url}")` }'
              >
            </div>
            <div class="recipe__card__info">
              <span>
                <%= svg 'time' %>
                <p>{{ recipe.preparation_time }}min</p>
              </span>
              <span>
                <%= svg 'chef-hat' %>
                <p>{{ recipe.difficulty }}</p>
              </span>
            </div>
          </div>
        </div>
      </transition-group>
    </div>
  </div>
</div>

<script>
  // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
  let vh = window.innerHeight * 0.01;
  // Then we set the value in the --vh custom property to the root of the document
  document.documentElement.style.setProperty('--vh', `${vh}px`);

  // We listen to the resize event
  window.addEventListener('resize', () => {
    // We execute the same script as before
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  });
</script>

<% content_for :after_js do %>
  <%= javascript_pack_tag 'home' %>
<% end %>
