<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oishi.io - Cuisine japonaise. Simple</title>
    <meta name="description" content="Découvrez les meilleures recettes de cuisine japonaise<br>
      Apprenez à cuisiner des recettes simples et délicieuses. Oishi desu!"/>
    <meta property="og:url" content="http://www.oishi.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Cuisine. Japonaise. Simple."/>
    <meta property="og:description" content="Découvrez vite nos recettes inédites et faciles!"/>
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/dgv0y9kj7/image/upload/v1539552948/nqsdhbgsbh1u6joco0cq.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta name="twitter:card" content="summary"/>
    <link rel="canonical" href="http://www.oishi.io"/>

    <%= favicon_link_tag 'favicon.png' %>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%# render 'shared/flashes' %>
    <%= render 'shared/topbar' %>

    <%= yield %>
    <%= render 'shared/bottombar' %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127845622-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-127845622-1');
      </script>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield :after_js %>
  </body>
</html>
