<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oishi.io | Recettes Japonaises</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%# render 'shared/flashes' %>
    <% if current_user.present? && current_user.admin? %>
      <%= render 'shared/menu' %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield :after_js %>
  </body>
</html>
